{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
  <div class="login-page-container">
    <div class="form-container">
      <div style="background-color: #154734; position: absolute; top:20%; width:400px">
        
        <form method="post" class="form2">
          <h1>Login</h1>
          <hr style="width: 80%;">
          <input type="text" id="email" name="email" placeholder="Email" required>
          <input type="password" id="password" name="password" placeholder="Passphrase" required>
          <input type="submit" value="Login">
          <p>Dont have an account? <a href="{{ url_for('auth.register') }}">Register here</a></p>
        </form>
      </div>
    </div>
  </div>
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="flash {{ category }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
  {% endwith %}
{% endblock %}
