{% extends 'base.html' %}

{% block title %}Reservation Management{% endblock %}

{% block content %}
<style>
  .locker img {
    width: 50px; 
    height: auto; 
  }
</style>
<div class="landing-page-container">
  <div class="form-container">
    <div style="display:flex; flex-direction:column; align-items:center;">
      <h1>Manage Reservation</h1>
      <h2>Station: {{ charging_station['CS_NAME'] }}</h2>
      <div>Address: {{ charging_station['CS_ADDRESS'] }}</div>
      <button onclick="this.nextElementSibling.style.display = 'block'" style="margin-bottom: 5px;">Show in Google Maps</button>
      <iframe src="{{ charging_station['CS_GMAPS_LINK'] }}&output=embed" width="100%" height="450" frameborder="0" style="border:0; display:none; margin-bottom:5px;" allow="fullscreen"></iframe>
      <h3>Locker ID: {{ locker_id }}</h3>
      <div>State: {{ state }}</div>
      <div>Reservation ends on {{ end_time }}</div>
    </div>

    <div class="locker-container">
      {% if not g.user %}
      <p>Please login to manage your reservations.</p>
      {% else %}
      <h2>Lock/Unlock Locker</h2>
      <form method="post" action="/manage-locker">
        <input type="hidden" name="action" value="toggle-lock"> 
        <button type="submit">Lock/Unlock Locker</button>
      </form>
      <h2>Cancel Reservation</h2>
      <form method="post" action="{{ url_for('user_view.manage_reservation') }}">
        <input type="hidden" name="action" value="unreserve">  <!-- Specify the action -->
        <button type="submit">Cancel Reservation</button>
      </form>
      {% endif %}
    </div>
  </div>
</div>
{% for message in get_flashed_messages() %}
<div class="flash">{{ message }}</div>
{% endfor %}
{% endblock %}