{% extends 'base.html' %}

{% block title %}Lockers{% endblock %}

{% block content %}
<style>
  .locker img {
    width: 50px; /* Adjust the width as per your requirement */
    height: auto; /* This will maintain the aspect ratio */
  }
</style>
  <div class="landing-page-container">
    <div class="form-container">
      <form method="post" class="form1">
        <h1>Charging Stations</h1>
      </form>
      <div class="locker-container">
        {% for station in charging_stations %}
        <form method="GET" action="{{ url_for('user_view.show_available_lockers') }}">
            <input type="hidden" name="station_id" value="{{ station[0] }}">
            <div class="locker" onclick="this.parentNode.submit()">
                <img src="../../static/images/electric-vehicle-charging-station-icon-in-gradient-colors-png.png">
                <h1>Station: {{ station['cs_name'] }}</h1>
                <p>Address:  </p>
            </div>
        </form>
        {% endfor %}
      </div>
    </div>
  </div>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div> 
  {% endfor %}
{% endblock %}
