/* STYLE CONVENTION FOR CSS
 *
 *   1. Append the open bracket to the end of the element name.
 *   2. No one-liners: keep everything consistent.
 *   3. Indent with two spaces. No tabs allowed.
 *   4. Organize all of an element's CSS attributes alphabetically.
*/


/* Define the width and height of the html and body elements as these will
affect the widths and heights of interior elements. */
html {
  height: 100vh;
  width: 100vw;
}

body {
  background: white;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.form-container form label {
  font-size: 20px;
}

.form-container form input {
  font-size: 20px;
}

.form-container form input[type=text], input[type=password] {
  background: none;
  border: none;
  border-bottom: 2px dashed #003B49;
  border-radius: 0;
  margin-bottom: 5px;
}

.form-container form input[type=submit] {
  font-size: 20px;
  background-color: #72BF44;
  border-color: #003B49;
  cursor: pointer;
  margin-bottom: 10px;
}

@keyframes flash {
  0%    {height: 60px; opacity: 1;}
  50%   {height: 60px; opacity: 1;}
  100%  {opacity: 0;}
}

.flash {
  display: hidden;
  opacity: 0;
  position: fixed;
  top: 0;
  border-radius: 20px;
  width: 100%;
  height: 0px;
  align-content: center;
  text-align: center;
  background-color: #ACA199;
  font-size: larger;

  animation-name: flash;
  animation-duration: 4s;
}

/* =============================================================================
 * CHARGING STATION LIST PAGE STYLING
 * =============================================================================
*/

.station-container {
  display: flex;
  flex-direction: column; /* Change to column to stack stations vertically */
  align-items: center; /* Center lockers horizontally */
  margin-top: 20px; /* Add margin to separate lockers from title */
}

.station {
  padding: 20px;
  border: 1px solid #ccc;
  text-align: left;
  font-size: larger;
  background-color: white;
  transition: background-color 0.3s ease-in-out;
  margin-bottom: 10px; /* Add margin between lockers */
  width: 85%;
}

/* Style the button that is used to open and close the collapsible content */
.collapsible {
  display: flex;
  flex-direction:column;
  cursor: pointer;
  background-color: #D6D1CA;
  width: auto;
  padding: 5px;
  font-size: 20px;
  border-radius: 10px;
  margin-bottom: 5px;
}

.collapsible:hover {
  background-color: #ACA199;
  box-shadow: 0 0 5px #63666A;
}

.station-contents {
  display: none;
  font-size: medium;
}

.station:hover {
  background-color: #f0f0f0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  text-align: center;
  font-size: larger;
  border: 1px solid #888;
  width: 60%; /* Could be more or less, depending on screen size */
}

/* =============================================================================
 * LOCKER LIST PAGE STYLING
 * =============================================================================
*/

.landing-page-container {
  align-items: center;
  background-image: url("images/authentication_page_background.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: flex-start; /* Change to flex-start to align content to the top */
  padding-top: 80px; 
}

.form-container {
  width: 80%;
}

.form1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form1 h1 {
  margin-bottom: 20px; /* Adjusted margin-bottom value */
}

.locker-container {
  display: flex;
  flex-direction: column; /* Change to column to stack lockers vertically */
  column-count: 2;
  align-items: center; /* Center lockers horizontally */
  margin-top: 20px; /* Add margin to separate lockers from title */
}

.locker {
  padding: 20px;
  border: 1px solid #ccc;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  margin-bottom: 10px; /* Add margin between lockers */
}

.locker:hover {
  background-color: #f0f0f0;
}

/* Optional: Add a subtle box-shadow on hover for a more interactive feel */
.locker:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}


/* =============================================================================
 * AUTHENTICATION PAGE STYLING
 * =============================================================================
*/

.authentication-page-container {
  align-items: center;
  background-image: url("images/authentication_page_background.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: auto 100%;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  width: 100%;
}

.authentication-page-container .form-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  width: 80%;
}

.authentication-page-container .form-container .row-container {
  display: flex;
  flex-direction: row;
  height: 70%;
}

.authentication-page-container .form-container .vertical-col-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.authentication-page-container .form-container form {
  background-image: url("images/authentication_form_background.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: auto 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 75%;
  justify-content: center;
  width: 100%;
}

.authentication-page-container .form-container form input {
  margin-bottom: 20px;
  max-width: 250px;
}

.authentication-page-container .form-container form input[type=submit] {
  width: 50%;
}

/* =============================================================================
 * LOGIN PAGE STYLING
 * =============================================================================
*/

.login-page-container {
  align-items: center;
  background-image: url("images/authentication_page_background.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  width: 100%;
  padding-top: 80px; 
}

.login-page-container .form-container {
  background-image: url("images/login_page_background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto 115%;
  bottom: 2%;
  top: 5%;
  display: flex;
  flex-direction: column;
  height: 100%;
  position: sticky;
  width: 100%;
  align-items: center; 
}

.login-page-container .form-container form.form1{
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 150px 80px 100px 60px;
}

.login-page-container .form-container form.form2{
  align-items: center;
  display: flex;
  flex-direction: column;

}

.login-page-container .form-container form h1 {
  font-size: 30px;
  margin-bottom: 10px;
}

.login-page-container .form-container form input {
  font-size: 20px;
  margin-bottom: 20px;
  max-width: 250px;
}

.login-page-container .form-container form input[type=text], input[type=password] {
  background: none;
  border: none;
  border-bottom: 2px dashed black;
  border-radius: 0;
}
